{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": "last 2 versions"
      },
      
      "debug": false
    }]
  ],
  "ignore": ["node_modules"],
  "plugins": [
    ["@babel/plugin-transform-runtime"]
  ]
}
