@import "../../node_modules/toastr/build/toastr.min.css";

@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Lato');


.toast-loading {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding-left: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 14px;
}

.toast-loading > .toast-loading-text {
  display: block;
  width: 250px;
}

.toast-loading > .toast-loading-text > p {
  margin: 0px;
}

.toast-loading > img {
  width: 48px;
  height: 48px;
  margin: 0px;
  margin-right: 10px;
}

.toast-error-container {
  display: flex;
  padding-top: 18px;
  padding-bottom: 18px;
  border-radius: 14px;
}
