name: Build/release

on: push

jobs:
  release:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          persist-credentials: false
      - name: Use Node.js 16.13.2
        uses: actions/setup-node@v2
        with:
          node-version: 16.13.2
      - name: Install
        run: |
          yarn install
      - name: Deploy
        run: |
          yarn deploy -h https://captain.sv.ufabcnext.com -a next-extension -p "${{ secrets.CAPROVER_PASSWORD }}" -b master
